<div class="login">

    <div class="home-head d-flex flex-row flex-wrap">
        <img class="logo-home flex-row" src="../images/logo.png ">
        </img>
    </div>

    <div class="home-head d-flex flex-row flex-wrap">
        <h2>Login</h2>
    </div>
    <div class="nav-border"></div>
    <br>
    <form action="/login" method="POST">
        <div class="input-group">

            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Your username" class="form-control">
        </div>
        <br>

        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Your password" class="form-control">
        </div>

        {{#if message}}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <br>
        <button class="button-index" type="submit">Login</button>

        <br>
        <a href="/auth/facebook">Login With Facebook</a>
        <a href="/auth/google">Login With Google</a>
        <br>
        <br>
        <p>Don't have an account?
            <a href="/signup">Sign up</a>
        </p>


    </form>
</div>