<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Your username">
    <br>
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Your password">
    <br>
    <br>

    <label for="email">Email</label>
    <input id="email" type="text" name="email" placeholder="Email Required">
    <br>
    <br>
    <label for="age">Age</label>
    <input id="age" type="text" name="age" placeholder="age">
    <br>
    <br>

    <label for="city">Home City</label>
    <input id="city" type="text" name="city" placeholder="Miami">
    <br>
    <br>

    <label for="state">Home State</label>
    <input id="state" type="text" name="state" placeholder="Miami">
    <br>
    <br>

    <label for="country">Home Country</label>
    <input id="country" type="text" name="country" placeholder="USA" <br>
    <br>
    <br> {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Create account</button>

</form>

<p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
</p>