<h2>Add a List</h2>


<form action="/lists/add" method="POST" id="form-container">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" placeholder="List name">
    <br>
    <br>

    <label for="location">Location:</label>
    <input id="location" type="text" name="location" placeholder="i.e. city, state, country">
    <br>
    <br>
    <label for="purpose">Purpose:</label>
    <select id="purpose" name="purpose">
        <option value="vacation">Vacation</option>
        <option value="staycation">Staycation</option>
        <option value="roadtrip">Road trip</option>
        <option value="local">Local</option>
        <option value="other">Other</option>
    </select>
    <br>
    <br>
    <label for="public">Public List:</label>
    <input id="public" type="radio" name="public" value="true" checked="checked">Yes</input>
    <input id="public" type="radio" name="public" value="false">No</input>
    <br>
    <br> {{#if message}}
    <div class= "error-message">{{ message }}</div>
    {{/if}}

    <button>Create List</button>


</form>

<br>
<br>
<br>
<p>Nevermind, take me back to
    <a href="/lists">My Lists</a>
</p>