<form action="/lists/{{list.id}}" method="POST" id="form-container">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="{{list.name}}">
    <br>
    <br>

    <label for="location">Location:</label>
    <input id="location" type="text" name="location" value="{{list.location.type}}">
    <br>
    <br>
    <label for="purpose">Purpose:</label>
    <select id="purpose" name="password">
        <option value="vacation">Vacation</option>
        <option value="staycation">Staycation</option>
        <option value="roadtrip">Road trip</option>
        <option value="local">Local</option>
        <option value="other">Other</option>
    </select>
    <br>
    <br>
    <label for="public">Public List:</label>
    <input id="public" type="radio" name="public" value="true" checked="checked">Yes</input>
    <input id="public" type="radio" name="public" value="false">No</input>
    <br>
    <br> {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <button>Edit List</button>