<h1>
    All Lists --
    <span>
        <a href="/lists/add">CREATE A NEW LIST</a>
    </span>
</h1>

{{#each lists}}
<h3>
    <a href="/lists/{{this._id}}">{{this.name}}</a>
    <a href="/lists/{{this._id}}/edit">EDIT</a>

    <form action="/lists/{{this._id}}/delete" method="post">
        <span>
            <button type="submit">DELETE</button>
        </span>
        <input type="hidden" name="_id">

    </form>

</h3> {{/each}}