{{!--
<h1>My Lists [NEED TO REFINE QUERY LATER</h1>

{{#each lists}}
<h3>
    <a href="./{{this._id}}">{{this.name}}</a>
</h3> {{/each}} --}}


<h1>All Lists --
    <span>
        <a href="/lists/add">CREATE A NEW LIST</a>
    </span>
</h1>

{{#each lists}}
<h3>
    <a href="/lists/{{this._id}}">{{this.name}}</a>
</h3> {{/each}}