 {{!-- {{#if user}}
<div>
    <a href="/">Index</a>
</div>
{{/if}} --}}

<h1>Home page</h1>
<p>Welcome to planIt, {{user.username}}.</p>

<br>
<a href="/lists">My Lists</a>

<br>
<br>
<a href="/{{user.username}}">My Profile</a>