<h1>{{title}}</h1>
<h2>Welcome to planIt!</h2>
<h4>Your To Do Lists for Travel</h4>
<p>Keep track of your experiences whether on vacation or at home. Share your lists with friends and get recommendations.</p>
<button>
    <a href="/signup">Signup</a>
</button>
<br>
<button>
    <a href="/login">Login</a>
</button>
<br>