<div class="list-head d-flex flex-row flex center">

    <div class="flex-row">
        <img src=" ../images/logo.png ">
    </div>
    <div class="col-lg-6 title ">
        <br>
        <br>
        <br>

        <div class="col-sm-12 h1 ">Welcome to {{title}}!</div>
        <div class="col-sm-12 ">
            <h4 class="col-sm-12 ">Your To Do Lists for Travel</h4>
            <h5 class="col-sm-12 ">Keep track of your experiences whether on vacation or at home. Share your lists with friends and get ideas.</h5>
            <a class="btn button-home " href="/signup ">Signup</a>
            <a class="btn button-home " href="/login ">Login</a>
        </div>
    </div>

</div>