<div class="row">
    <div class="col-sm-6 title">
        <div class="col-sm-12 h1">Welcome to {{title}}!</div>
        <div class="col-sm-12">
            <h4 class="col-sm-12">Your To Do Lists for Travel</h4>

            <p class="col-sm-12">Keep track of your experiences whether on vacation or at home. Share your lists with friends and get recommendations.</p>
            <a class="btn-primary button-index" href="/signup">Signup</a>
            <a class="btn-primary button-index" href="/login">Login</a>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="../images/logo.png ">
    </div>
</div>
</div>