body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url("../images/logo.png");
}

a {
  color: #00b7ff;
}

.logo2 {
  height: 10vh;
}

.nav-border {
  border-bottom-color: teal;
  width: 100%;
  height: 20px;
}

.button-index {
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  /* float: right; */
  margin: 5px 10px;
}

.index {
  // padding: 15px 30px;
  border-radius: 3px;
  // margin: 5px 10px;
  font-weight: bold;
  text-align: left;
  border-radius: 3px;
  display: inline-block;
}

.title {
  text-align: left;
}

.list-block {
  // display: inline-flex;
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  // border-color: darkblue;
  // border-style: solid;
  // border: 20px;
  // font-weight: bold;
  text-align: left;
  margin: 10px 10px;
  background-color: lightyellow;
}

.item-block {
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  // border-color: darkblue;
  // border-style: solid;
  // border: 20px;
  // font-weight: bold;
  text-align: left;
  margin: 10px 10px;
  background-color: lightcyan;
}

.list-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.list-info {
  font-style: italic;
  font-size: 12px;
}

//LIST- DETAIL SPECIFIC CSS
// .list-detail-map {
//   height: 200px;
//   width: 100%;
// }

.delete {
  background-color: rgba(255, 0, 0, 0.3);
}
