body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-image: url("../images/logo.png");
}

a {
  color: #00b7ff;
}

.container {
  margin: 0 20px;
}
.center {
  margin: 20px auto;
  width: 80%;
  // border: 3px solid green;
  padding: 10px;
}

.login {
  margin: 20px auto;
  width: 80%;
  border: 3px solid lightgrey;
  padding: 30px;
}

.logo2 {
  height: 100px;
}

.nav-border {
  background-color: teal;
  width: 100%;
  height: 5px;
}

.home-sub-header {
  width: 100%;
  border: red;
  padding: 20px;
  background-image: src= "../images/logo.png ";
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.button-index {
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  /* float: right; */
  margin: 5px 10px;
}

.button-home {
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  font-weight: bold;
  background-color: teal;
  color: white;
  text-align: center;
}

.index {
  // padding: 15px 30px;
  border-radius: 3px;
  // margin: 5px 10px;
  font-weight: bold;
  text-align: left;
  border-radius: 3px;
  display: inline-block;
}

.title {
  text-align: left;
}

.list-block {
  // display: inline-flex;
  padding: 15px 10px;
  font-size: 22px;
  border-radius: 3px;
  width: 360px;
  text-align: left;
  margin: 10px 10px;
  background-color: lightyellow;
}

.list-header {
  // display: inline-flex;
  padding: 15px 10px;
  font-size: 22px;
  border-radius: 3px;
  text-align: left;
  margin: 10px 10px;
  background-color: lightyellow;
}

.item-block {
  padding: 15px 20px;
  font-size: 22px;
  border-radius: 3px;
  // border-color: darkblue;
  // border-style: solid;
  // border: 20px;
  // font-weight: bold;
  text-align: left;
  margin: 10px 10px;
  background-color: lightcyan;
}

.list-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.list-info {
  font-style: italic;
  font-size: 12px;
}

//LIST- DETAIL SPECIFIC CSS
// .list-detail-map {
//   height: 200px;
//   width: 100%;
// }

.delete {
  background-color: rgba(247, 62, 62, 0.726);
}

.form {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
